@use "../../styles/partials/variables" as *;
@use "../../styles//partials/mixins" as *;

.accord {
  display: flex;
  flex-direction: column;
}

.gpt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;

  &__button {
    padding: 1rem;
    width: 100%;
    border: none;
    font-family: lalo;
    font-size: 1.6rem;
    color: $primary-text;
    outline: none;
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(55 55 55);
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);

    &:hover {
      background-color: $off-white-2;
      color: $black;
      scale: 0.95;
      cursor: pointer;
    }

    &:active {
      background-color: $black;
      color: $off-white-2;
      scale: 0.9;
      cursor: pointer;
    }
  }

  &__response {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  &__code {
    font-family: lalo;
  }
}
