@use "./variables" as *;

// SCREENS
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

// FONT STYLE
@mixin textStyle($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

// TABLET + DESKTOP FONT STYLE
@mixin tabletPageHeader {
  @include textStyle(3.3rem, 4.4rem, 700);
}

@mixin tabletSectionHeader {
  @include textStyle(1.2rem, 2rem, 700);
}

@mixin tabletSubheader {
  @include textStyle(1.4rem, 2.2rem, 700);
}

@mixin tabletBody {
  @include textStyle(1.4rem, 2.2rem, 400);
}

@mixin tabletLabelsAndButtons {
  @include textStyle(1.2rem, 2rem, 700);
}

// MOBILE FONT STYLE
@mixin mobilePageHeader {
  @include textStyle(2.4rem, 3.2rem, 700);
}

@mixin mobileSectionHeader {
  @include textStyle(1.2rem, 2rem, 700);
}

@mixin mobileSubheader {
  @include textStyle(1.3rem, 1.8rem, 700);
}

@mixin mobileBody {
  @include textStyle(1.3rem, 1.8rem, 400);
}

@mixin mobileLabelsAndButtons {
  @include textStyle(1rem, 2rem, 700);
}

@mixin tabletLabelsAndButtons {
  @include textStyle(1.2rem, 2rem, 700);
}

// // BUTTONS
// @mixin buttonDefault {
//   @include mobileLabelsAndButtons;
//   background-color: $brainflix-blue;
//   height: 4rem;
//   width: 100%;
//   //   padding: 0 3.2rem;
//   border-radius: 4px;
//   border: none;
//   outline: none;
//   color: $white;
//   cursor: pointer;
//   text-decoration: none;

//   @include tablet {
//     @include tabletLabelsAndButtons;
//     min-width: 3.2rem;
//   }
// }

// @mixin buttonHover {
//   background-color: $brainflix-dark-blue;
// }

// @mixin logo {
//   height: 2.5rem;
//   width: 12rem;
// }

// @mixin optionsButton {
//   color: $white;
//   background-color: $brainflix-blue;
//   border-radius: 4px;
//   border: none;
//   outline: none;
//   padding: 0.5rem;
//   font-size: 1.2rem;
//   width: 7rem;
//   cursor: pointer;
// }

// @mixin optionsButtonHover {
//   background-color: $brainflix-dark-blue;
// }

// // FORM FIELDS
// @mixin formMobile {
//   min-height: 3.6rem;
//   width: 100%;
//   min-width: 24rem;
//   padding: 1.2rem;
//   border-radius: 4px;
//   border: none;
//   outline: 1px solid $mercury;
//   background-color: $alabaster;
// }

// @mixin formTablet {
//   min-height: 4rem;
//   min-width: 24rem;
// }
