@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "lalo", sans-serif;
  background-color: $primary-background;
  cursor: none;
}
