@font-face {
  font-family: lalo;
  src: url("../../assets/fonts/lalo.woff") format("woff"),
    url("../../assets/fonts/lalo.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: adhesion;
  src: url("../../assets/fonts/Adhesion-Regular.ttf") format("truetype"),
    url("../../assets/fonts/Adhesion-Regular.ttf") format("truetype"),
    url("../../assets/fonts/Adhesion-Regular.woff") format("woff"),
    url("../../assets/fonts/Adhesion-Regular.woff2") format("woff2");
  font-weight: 400;
}
