// SCREEN SIZES
$desktop: 1280px;
$tablet: 768px;

// COLORS
$off-white: #eaeaea;
$off-white-2: #f6f6f4;
$white: white;
$charcoal: #2b2b2b;
$grey-1: #6c6c6c;
$grey-2: #747474;
$grey-3: #919091;
$grey-4: #acacac;
$grey-5: #bdbcbd;
$black: black;
$green: #00ffab;
$orange: rgb(255, 72, 0);

$primary-background: $black;
$primary-text: $off-white-2;
$accent: $white;
