@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.txn {
  display: flex;
  flex-direction: column;
  color: $primary-text;
  margin: 0 4rem;
  gap: 3rem;
  position: relative;

  &__graphic {
    position: absolute;
    z-index: -1;
    top: -48rem;
    right: 22rem;
  }

  // &__graphic {
  //   position: absolute;
  //   z-index: -1;
  //   top: -10rem;
  //   left: -10rem;
  //   // opacity: 0.2;
  //   filter: grayscale(0%);
  // }

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: recoleta;
    font-weight: lighter;
    display: flex;
    margin: 0;
    font-size: 7rem;
  }

  &__subtitles {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid $white;
  }

  &__subtitle {
    font-size: 1.5rem;
    padding: 1rem;
    border: 1px solid $white;
  }
}

.pre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(55 55 55);
    padding: 0 2rem;
    gap: 4rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__sub {
    opacity: 0.5;
    border-left: 1px solid $white;
    padding: 0 1rem;
  }

  &__icon {
    margin-left: 1rem;
  }

  &__icon--tick {
  }
}

.pregas {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__sub {
    opacity: 0.5;
    border-left: 1px solid $white;
    padding: 0 1rem;
  }
}

.basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgb(55 55 55);
  padding: 0 2rem;

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__sub {
    opacity: 0.5;
    border-left: 1px solid white;
    padding: 0 1rem;
  }

  &__text {
    text-decoration: none;
    color: $primary-text;
  }

  &__text--wallet {
    margin: 0;
  }

  &__parties {
    display: flex;
    flex-direction: column;
  }

  &__to {
  }

  &__contract {
    display: flex;
    align-items: center;
  }

  &__to-content {
    display: flex;
    gap: 0.5rem;
  }

  &__disclaimer {
    display: flex;
    align-items: center;
    opacity: 0.5;
    gap: 0.5rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  &__text--contract {
    text-decoration: underline;
  }

  &__from {
  }
}

.gas {
  &__wrapper {
    display: flex;
    gap: 1rem;
  }

  &__legacy {
    display: flex;
    gap: 1rem;
    align-items: center;

    &-warn {
      opacity: 0.5;
    }
  }

  &__sent {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(55 55 55);
    padding: 0 2rem;
    width: 50%;
  }

  &__used {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgb(55 55 55);
    padding: 0 2rem;
    width: 50%;
  }

  &__title {
    border-left: 1px solid white;
    border-left: 1px solid white;
    font-weight: lighter;
    padding: 0 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__sub {
    opacity: 0.5;
    border-left: 1px solid white;
    padding: 0 1rem;
  }

  &__percent {
    opacity: 0.5;
  }
}

// .data {
//   display: flex;
//   justify-content: center;

//   &__wrapper {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background-color: rgba(0, 0, 0, 0.8);
//     border: 1px solid rgb(55 55 55);
//     padding: 0 2rem;
//   }

//   &__item {
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//   }

//   &__sub {
//     opacity: 0.5;
//     border-left: 1px solid white;
//     padding: 0 1rem;
//   }
// }

.explain {
  &__title {
    font-family: recoleta;
    font-size: 5rem;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
    // border-bottom: 1px solid $white;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(55 55 55);
    padding: 0 2rem;
  }

  &__loader {
    padding: 2rem 0;
  }

  &__wait {
    opacity: 0.5;
  }

  &__response {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  &__code {
    font-family: lalo;
  }

  &__reroll {
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    font-family: lalo;
    font-size: 1.6rem;
    border: 1px solid rgb(55 55 55);
    background: transparent;
    color: $primary-text;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $off-white-2;
      color: $black;
      scale: 0.95;
      cursor: pointer;
    }
  }
}
