@use "../../styles/partials/variables" as *;

.collection {
  display: flex;
  gap: 2rem;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border: 1px solid rgb(55 55 55);
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);

  &__image {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    object-fit: cover;
    filter: grayscale(100%);
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding: 0.5rem 1rem;
    margin: 0;
    border-left: 1px solid $white;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__item {
    display: flex;
  }

  &__sub {
    opacity: 0.5;
    border-left: 1px solid $white;
    padding: 0 1rem;
  }
}
