@use "../../styles/partials/variables" as *;
@use "../../styles//partials//mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;

  &__link {
    text-decoration: none;
    color: $purple-1;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
  }

  &__link:hover {
    background-color: $purple-2;
    color: $off-white;
  }
}
