@use "../../styles/partials/variables" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $off-white-2;
  margin: 2rem 4rem;
  color: $primary-text;
  font-size: 1.3rem;
  font-weight: bold;
}
